{% block extra_head %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.js"></script>
{% endblock %}


{% block content %}
  <canvas id="temperature_graph" style="width:100%; height:100%;"></canvas>
  <script type="text/javascript" charset="utf-8">
    var randomColorFactor = function() {
      return Math.round(Math.random() * 255);
    };
    var randomColor = function(opacity) {
      return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    };

    var data_uri = "/temperature";
      var chart;
      var chart_max_values = 50;
      var chart_update_ms = 500;
      var chart_config =  {
        type: 'line',
        data: {
  	  labels: [],
          datasets: [],
        },
        options: {}
      };

      for(i=0; i<6; i++){
        color = randomColor((i+4)/10)
        clear = 'rgba(0, 0, 0, 0)'
        chart_config.data.datasets.push({
          label: "temp_"+i,
          borderColor: color,
          backgroundColor: clear,
          data: []
        })
      }

      function updateGraph(){
        $.get(data_uri, function(raw_data) {
          raw_data = $.parseJSON(raw_data);
          if (raw_data['temp_0'] != null){
 
            // add data to lines
            $.each(chart.data.datasets, function(i, probe){
              val = average(raw_data[probe.label])
              chart.data.datasets[i].data.push(val) 
              if (chart.data.datasets[i].data.length > chart_max_values){
                chart.data.datasets[i].data.shift();
              }
            })

            // update y values
            now = new Date()
            now = ""+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()
            chart.data.labels.push(now)
            if (chart.data.labels.length > chart_max_values){
              chart.data.labels.shift();
            }

          }
          chart.update(duration=chart_update_ms/2, lazy=false);
        });
        setTimeout(updateGraph, chart_update_ms);
      }

      function average(data){
        s = 0;
        for(i=0; i< data.length; i++){
         s+= data[i]
        }
        return s/data.length;
      }

    function initGraph(){
      var ctx = document.getElementById("temperature_graph");
      chart = new Chart(ctx, chart_config);
      setTimeout(updateGraph, 1000);
    }
    initGraph();
  </script>
{% endblock %}
