<html>
  <head>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/temperature.js"></script>
    <script src="/static/js/bootstrap-editable.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://jquery-csv.googlecode.com/files/jquery.csv-0.71.min.js"></script>
    {% block extra_head %}{% endblock %}
    
    <!-- CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

</html>
