{% extends "base.html" %}

{% block extra_head %}
    <script>
      $( document ).ready(function() {
		$('#stepper_frequency').editable({
		    type: 'text',
		    pk: 1,
		    url: '/stepper',
		    title: 'Enter username',
		    display: 'inline'
		});

		$('#stepper_direction').editable({
		    type: 'select',
		    defaultValue: '1',
		    pk: 1,
        url: '/stepper',
			showbuttons: false,
	        source: [
	            {value: 1, text: 'Forwards'},
	            {value: 2, text: 'backwards'}
	        ]
	    }); 
	    update_sensors("distillery-data");
	});
    </script>
{% endblock %}

{% block content %}
  <div class="container" style="margin-top:20px;">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Raw Data</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">{% include "pages/raw.html" %}</div>
        <div class="panel-footer"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Temperatures</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse">
        <div class="panel-body">{% include "pages/temperatures.html" %}</div>
        <div class="panel-footer"></div>
      </div>
    </div>

  </div>
{% endblock %}
